<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>943581255773-6o3nk6rccf1qn609m1223sf30q37khbn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.943581255773-6o3nk6rccf1qn609m1223sf30q37khbn</string>
	<key>API_KEY</key>
	<string>AIzaSyC79baMmPtPrWMFI6yR99FB6zUxS1U5P6E</string>
	<key>GCM_SENDER_ID</key>
	<string>943581255773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.barcenas.Devslopes-Social</string>
	<key>PROJECT_ID</key>
	<string>devslopes-social-4405c</string>
	<key>STORAGE_BUCKET</key>
	<string>devslopes-social-4405c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:943581255773:ios:66b11210caaf6959</string>
	<key>DATABASE_URL</key>
	<string>https://devslopes-social-4405c.firebaseio.com</string>
</dict>
</plist>